#event-cards{
    width:90vw;
    margin:0 auto;
    padding-top:2vh;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    img{
        height:25vh;
        object-fit: cover;
    }

    .card-buttons{
        position:absolute;
        padding:2px;
        top:5px;
        right:1vw;
        border-radius:15px;
        background-color:$transparentBlack;
        i{
            color:white;
            font-size:30px;
            padding:0 2px;
            cursor: pointer;
        }
    }
    .card-action{
        display:flex;
        justify-content: space-around;
        align-items:center;
    }

}

#modalEvent{
    width:70vw;
    .modal-content{
        display:flex;
        justify-content: space-between;
        div{
            img{
                height:25vh;
                object-fit: cover;
            }
            width:50%;
        }
    }
    
    #mapEvent{
        width:25vh;
        height:25vh;
    }
}
<<<<<<< HEAD
=======



.add-event{
    display:flex;
    margin-left: 5%;
    margin-top: 2%;
    align-items:center;
    p{
        margin:0;
        font-size:17px;
    }
}

.registering {
    color: black;
    font-size: 35px;
}

#submit_event {
    position: sticky;
}

.formHeading {
    text-align: center;
}

#modalRegisterEvent {
    /* label color */
   .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: $pastelBlue;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid $pastelBlue;
    box-shadow: 0 1px 0 0 $pastelBlue;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid $pastelBlue;
    box-shadow: 0 1px 0 0 $pastelBlue;
  }

  /* label focus color */
  .input-field input[type=time]:focus + label {
    color: $pastelBlue;
  }
  /* label underline focus color */
  .input-field input[type=time]:focus {
    border-bottom: 1px solid $pastelBlue;
    box-shadow: 0 1px 0 0 $pastelBlue;
  }
  /* valid color */
  .input-field input[type=time].valid {
    border-bottom: 1px solid $pastelBlue;
    box-shadow: 0 1px 0 0 $pastelBlue;
  }

  /* label focus color */
  .input-field input[type=date]:focus + label {
    color: $pastelBlue;
  }
  /* label underline focus color */
  .input-field input[type=date]:focus {
    border-bottom: 1px solid $pastelBlue;
    box-shadow: 0 1px 0 0 $pastelBlue;
  }
  /* valid color */
  .input-field input[type=date].valid {
    border-bottom: 1px solid $pastelBlue;
    box-shadow: 0 1px 0 0 $pastelBlue;
  }

}
>>>>>>> 3e5b145f3306ea0fcf97c11832c5aae1eaab1c35
