*{
    box-sizing: border-box;
}

body{
    background-color:$babyPowder;
}

h1,h2,h3,h4,h5,h6{
    font-family:$Lato;
}

p{
    font-family: $openSans
}

.cursor-pointer{
    cursor:pointer;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn-general{
    background-color:$aliceBlue;
    box-shadow:none;
    border-radius:10px;
    color:black;
    border:1px solid $pastelBlue;
    &:hover, &:focus {
        @extend .btn-general;   
    }
}

.btn-active{
    background-color:$pastelBlue;
    &:hover, &:focus {
        @extend .btn-active;   
    }
}