nav{
    border-top:7px solid $eerieBlack;
    font-size:25px;
    font-family: $Lato;
    color:$eerieBlack;
    background-color:transparent;
    box-shadow: none;
    ul{
        display:flex;
        justify-content: space-around;
        li{
            cursor:pointer;
        }
    }

    .side-nav{
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        padding-top:5vh;
        background-color:$babyPowder;
    }

    .nav-wrapper{
        @include customMd{
            background-color:$eerieBlack;
        }
    }
}

.nav-active{
    border-top:7px solid $eerieBlack;
}

.settings {
    overflow: hidden;
    transition-duration: 1.5s;
    transition-property: transform;
    &:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);

    }
}

.logo {
    padding-top: 0.8vh;
}

