
#staffBox {
    display: flex;
    align-items: center;
}    

.staff-buttons {
    top:5px;
    right:1vw;
    border-radius:15px;
    background-color:$transparentBlack;
    //margin-bottom: 15%;
    i{
        color:white;
        font-size:30px;
        padding:0 2px;
        cursor: pointer;
    }
}


.box {
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 5%;
    width:90vw;
    padding:10px;
    background-color:white;
    -webkit-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.75);
}


.add-staff{
    font-family: "Open Sans", sans-serif;
    display:flex;
    margin-left: 5%;
    margin-top: 2%;
    align-items:center;
    p{
        margin:0;
        font-size:17px;
    }
}

#submit_staff {
    position: sticky;
}


#modalRegisterStaff {
    /* label color */
   .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: $pastelBlue;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid $pastelBlue;
    box-shadow: 0 1px 0 0 $pastelBlue;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid $pastelBlue;
    box-shadow: 0 1px 0 0 $pastelBlue;
  }

  /* label focus color */
  .input-field input[type=time]:focus + label {
    color: $pastelBlue;
  }
  /* label underline focus color */
  .input-field input[type=time]:focus {
    border-bottom: 1px solid $pastelBlue;
    box-shadow: 0 1px 0 0 $pastelBlue;
  }
  /* valid color */
  .input-field input[type=time].valid {
    border-bottom: 1px solid $pastelBlue;
    box-shadow: 0 1px 0 0 $pastelBlue;
  }

  /* label focus color */
  .input-field input[type=date]:focus + label {
    color: $pastelBlue;
  }
  /* label underline focus color */
  .input-field input[type=date]:focus {
    border-bottom: 1px solid $pastelBlue;
    box-shadow: 0 1px 0 0 $pastelBlue;
  }
  /* valid color */
  .input-field input[type=date].valid {
    border-bottom: 1px solid $pastelBlue;
    box-shadow: 0 1px 0 0 $pastelBlue;
  }

}

.staffrow {
    margin-bottom: 0px;
}

#addStaffOption {
    font-family: "Open Sans", sans-serif;
}
