//COLORS
$eerieBlack:#12181e;
$aliceBlue:#EAF9F9;
$pastelBlue:#A8CCCA;
$platinum:#DAE2E5;
$babyPowder:#F9FCF8;

//FONTS
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
 $Lato:'Lato', sans-serif;
 $openSans:'Open Sans', sans-serif;


